<div class="container-fluid">
	<div class="row icon-header-banner">
		<div class="col-md-6 icon-header-left">
			<h2>
				LOUIS VUITTON
			</h2>
			<h4>
				Icon
			</h4>
		</div>
		<div class="col-md-6 icon-header-right">
			<div class="text-right">
				<div class="icon-header-right-user">
					<h2>Alexandra NEMERY</h2>
					<h4>Client advisor</h4>
				</div>
				<div class="icon-header-right-power">
					<i class="fa fa-power-off" aria-hidden="true"></i>
				</div>	
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 icon-header-welcome">
			<h3>
				Hi Alexandra, your clients need you
			</h3>
		</div>
	</div>
	<div class="icon-users-grid">
		<div class="row icon-users-grid-row">
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/sophie.png"/>
						<p>Sophie</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/janine.jpg"/>
						<p>Janine</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/michael.png"/>
						<p>Michael</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/gabriel.png"/>
						<p>Gabriel</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/xavier.png"/>
						<p>Xavier</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/francois.jpg"/>
						<p>François</p>
					</a>
				</div>
			</div>
		</div>
		<div class="row icon-users-grid-row">
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/casey.png"/>
						<p>Casey</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/michelle.png"/>
						<p>Michelle</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/franck_kevin.png"/>
						<p>Franck Kevin</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/doona.png"/>
						<p>Doona</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/vita.png"/>
						<p>Vita</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/isabelle.png"/>
						<p>Isabelle</p>
					</a>
				</div>
			</div>
		</div>
		<div class="row icon-users-grid-row">
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/jaden.png"/>
						<p>Jaden</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/sophie.png"/>
						<p>Sophie</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/adele.png"/>
						<p>Adele</p>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-sm-4">
				<div class="icon-client-block">
					<a href="#/client">
						<img src="img/millie.png"/>
						<p>Millie</p>
					</a>
				</div>
			</div>
		</div>
	</div>

</div>