<div class="container-fluid">
	<div class="row icon-header-banner">
		<div class="col-md-6 icon-header-left">
			<a href="#/adviser">
			<h2>
				LOUIS VUITTON
			</h2>
			<h4>
				Icon
			</h4>
			</a>
		</div>
		<div class="col-md-6 icon-header-right">
			<div class="text-right">
				<div class="icon-header-right-user">
					<h2>Alexandra NEMERY</h2>
					<h4>Client advisor</h4>
				</div>
				<div class="icon-header-right-power">
					<i class="fa fa-power-off" aria-hidden="true"></i>
				</div>	
			</div>
		</div>
	</div>
	<div class="icon-user-dashboard">
		<div class="row">
			<div class="col-md-8">
				<div class="row icon-client-rowtop">
					<div class="col-md-4 icon-client-id">
						<img src="img/vita.png">
						<p>Vita-Maria Romano</p>
						<br>
						<p>CEO</p>
						<p>French</p>
						<div class="icon-client-actions">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-md-8 icon-client-sale-data">
						<div class="icon-client-purchase">
							<div class="icon-client-purchase-img">
								<img src="img/malle.jpg"/>
							</div>
							<div class="icon-client-purchase-text">
								<label>Purchase ordered</label>
								<p>42 days ago</p>
								<br>
								<label>Estimated delivery date</label>
								<p>November 2017</p>
							</div>
						</div>
						<div class="icon-client-sale-separator"></div>
						<div class="icon-client-visit">
							<div class="icon-client-visit-text">
								<label>Last visit</label>
								<br>
								<p>12 days ago</p>
								<label>In Champs Elysées</label>
							</div>
							<div class="icon-client-visit-img">
								<img src="img/louis_vuitton_champs-elysees.jpg"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row icon-client-rowbottom">
					<div class="col-md-4 icon-client-mood">
						<h3>Mood of the moment</h3>
						<br>
						<br>
						<div class="icon-client-mood-imgs">
							<img src="img/mood_heart.png"/>
							<img src="img/deezer.png"/>	
						</div>
						<br>
						<p>Listening : Carly Rae Jepsen - "Call Me Maybe"</p>
					</div>
					<div class="col-md-8 icon-client-products-to-push">
						<h3>Products to push</h3>
						<br>
						<div class="icon-client-products-to-push-imgs">
							<img src="img/sac_1.png"/>
							<img src="img/sac_2.png"/>	
						</div>
						<br>
						<div class="icon-client-products-to-push-separator"></div>
						<h3>Notes</h3>
						<img class="icon-client-notes" src="img/birthday.png"/>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="icon-client-content-to-push-container">
					<div class="icon-client-content-to-push-block">
						<i class="fa fa-times-circle" aria-hidden="true"></i>
						<img src="img/holo_lens.png"/>
						<p>Welcome to Roma, we kindly invite you to test <a>#HoloLens</a> experiance in ourt shop !</p>
					</div>
					<div class="icon-client-content-to-push-actions">
						<button type="button" class="btn btn-primary btn-lg" ng-click="pushItem()">Push now</button>
						<button type="button" class="btn btn-info btn-lg">Postpone</button>
					</div>
				</div>
				<!-- <div class="icon-client-timeline"> -->
					<div ng-include="'modules/main/views/main.view.html'"></div>
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>