.cd-timeline-content-footer-time {
  float: right;
  color: #BE5108;
}

.cd-timeline-content-footer {
  color: #BE5108;
}

.cd-timeline-content-footer i {
  color: #BE5108;
  padding-right: 5px;
}

.cd-timeline-content-head-img, .cd-timeline-content-head-name{
  display: inline-block; 
}

.cd-timeline-content-head-img img {
  width: 45px;
  border-radius: 25px;
}

.cd-timeline-content-head-name{
  vertical-align: top;
}


.cd-timeline-content-type {
	display: block;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    color: #ffffff;
    font-size: 22px;
}

/*.cd-timeline-block.active {
  border: 1px dotted red;
  padding: 10px;
  transition: padding 2s ease;
}*/


/*
Pour dire en CSS3 ce qui devra être animé :
Angular ajoute dynamiquement des classes CSS.
La transition se fait soit entre ng-enter et ng-enter-active
ou entre ng-leave et ng-leave-active.
*/
 .animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: 3s linear all;
    -moz-transition: 3s linear all;
    -ms-transition: 3s linear all;
    -o-transition: 3s linear all;
    transition: 3s linear all;
}
/* du début de l'entrée */
 .animate-if.ng-enter {
    max-height: 0;
    opacity: 0;
}
/* à la fin de l'entrée */
 .animate-if.ng-enter.ng-enter-active {
    max-height: 999px;
    opacity:1;
}
/* du début de la sortie */
 .animate-if.ng-leave {
    max-height: 999px;
    opacity:1;
}
/* à la fin de la sortie */
 .animate-if.ng-leave.ng-leave-active {
    max-height: 0;
    opacity:1;
}