.cd-timeline-content-footer-time {
  float: right;
  color: #BE5108;
}

.cd-timeline-content-footer {
  color: #BE5108;
}

.cd-timeline-content-footer i {
  color: #BE5108;
  padding-right: 5px;
}

.cd-timeline-content-head-img, .cd-timeline-content-head-name{
  display: inline-block; 
}

.cd-timeline-content-head-img img {
  width: 45px;
  border-radius: 25px;
}

.cd-timeline-content-head-name{
  vertical-align: top;
}


.cd-timeline-content-type {
	display: block;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    color: #ffffff;
    font-size: 22px;
}

/*
Pour dire en CSS3 ce qui devra être animé :
Angular ajoute dynamiquement des classes CSS.
La transition se fait soit entre ng-enter et ng-enter-active
ou entre ng-leave et ng-leave-active.
*/
 .animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: 3s linear all;
    -moz-transition: 3s linear all;
    -ms-transition: 3s linear all;
    -o-transition: 3s linear all;
    transition: 3s linear all;
}
/* du début de l'entrée */
 .animate-if.ng-enter {
    max-height: 0;
    opacity: 0;
}
/* à la fin de l'entrée */
 .animate-if.ng-enter.ng-enter-active {
    max-height: 999px;
    opacity:1;
}
/* du début de la sortie */
 .animate-if.ng-leave {
    max-height: 999px;
    opacity:1;
}
/* à la fin de la sortie */
 .animate-if.ng-leave.ng-leave-active {
    max-height: 0;
    opacity:1;
}

.icon-header-right {
  text-align: right;
}

.icon-header-right div {
    display: inline-block;
    vertical-align: middle;
}

.icon-header-right-user{
  padding-right: 10px;
}

.icon-header-right-power {
  font-size: 37px;
  background-color: #ffffff;
  border-radius: 25px;
  color: #000000;
  height: 50px;
  width: 50px;
  padding-right: 9px;
}

.icon-header-banner {
    background-color: #000000;
    color: #ffffff;
}

.icon-header-welcome {
    background-color: #DFDAD8;
}

.icon-header-welcome h3{
  color: #5F5F5F;
}

.icon-users-grid {
  padding-top: 60px;
}

.icon-client-block {
    text-align: center;
    background-color: #DFDAD8;
    padding-bottom: 2px;
}

.icon-client-block img {
    margin-top: -40px;
    width: 100px;
    border-radius: 46px;
}

.icon-client-block p {
  font-size: 26px;
  color: #000000;
}

.icon-client-block a:hover {
  text-decoration: none;
}

.icon-users-grid-row {
  padding-bottom: 50px;
}

.icon-users-grid-row:last-child{
  padding-bottom:0;
}

.icon-users-grid-row .col-md-2 {
  padding-bottom: 50px;
}