<ion-view title="Mon Coffret Trésor" id="page1">
  <ion-content padding="true" class="has-header">
  <section id="cd-timeline" class="cd-container">
    <div class="list card" id="monCoffretTrSor-card21">
      <div class="cd-timeline-img cd-picture">
        <img src="img/cd-icon-picture.svg" alt="Picture">
      </div>
      <ion-item class="item-avatar" id="monCoffretTrSor-list-item3">
        <img src="/img/avatar_alexandra.jpg">
        <h2>Votre serrure</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <img src="/img/serrure.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="monCoffretTrSor-list-item-container2">
        <div id="monCoffretTrSor-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Nous avons reçu <strong>votre serrure ...</strong></p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="monCoffretTrSor-list-item4">
        <ion-icon name="chatbubbles">Chat</ion-icon>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="monCoffretTrSor-list-item4">
        <i>1 min ago</i>
      </ion-item>
    </div>
    <div class="list card" id="monCoffretTrSor-card22">
      <ion-item class="item-avatar" id="monCoffretTrSor-list-item5">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="monCoffretTrSor-list-item-container3">
        <div id="monCoffretTrSor-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="monCoffretTrSor-list-item6">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <div class="list card" id="monCoffretTrSor-card24">
      <ion-item class="item-avatar" id="monCoffretTrSor-list-item9">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="monCoffretTrSor-list-item-container5">
        <div id="monCoffretTrSor-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="monCoffretTrSor-list-item10">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    </section>
  </ion-content>
</ion-view>