<div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="img/cd-icon-picture.svg" alt="Picture">
      </div> 

      <div class="cd-timeline-content">
        <div class="cd-timeline-content-head">
          <div class="cd-timeline-content-head-img">
            <img src="/img/avatar_alexandra.jpg" alt="Picture">
          </div>
          <div class="cd-timeline-content-head-name">
            <h4>Alexandra</h4>  
          </div>
        </div>
        <div class="cd-timeline-content-image">
          <img src="/img/holo_lens.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <p>Welcome to Roma, we kindly invite you to test <a>#HoloLens</a> experiance in ourt shop !</p>
        <div class="cd-timeline-content-footer">
          <i class="fa fa-comments" aria-hidden="true"></i>Chat
          <span class="cd-timeline-content-footer-time">1 min ago</span>
        </div>
      </div> 
    </div> 


<!-- <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="img/cd-icon-picture.svg" alt="Picture">
      </div> 

      <div class="cd-timeline-content">
        <div class="cd-timeline-content-head">
          <div class="cd-timeline-content-head-img">
            <img src="/img/avatar_alexandra.jpg" alt="Picture">
          </div>
          <div class="cd-timeline-content-head-name">
            <h4>Alexandra</h4>  
          </div>
        </div>
        <div class="cd-timeline-content-image">
          <img src="/img/serrure.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <p>Nous avons reçu votre serrure</p>
        <div class="cd-timeline-content-footer">
          <i class="fa fa-comments" aria-hidden="true"></i>Chat
          <span class="cd-timeline-content-footer-time">1 min ago</span>
        </div>
      </div> 
    </div>  -->